@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --formColor: #dadada;
    --head: #15803d;
}

/* @media only screen and (min-width: 600px) {
    html, body {
        background-color: black;
        height: 100%;
      }
    
      html{
        display: flex;
        justify-content: center;
      }
    
      body{
        width: 50%;
      }
} */

.header{
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    /* place-content: center; */
    gap: 10px;
    font-size: 42px;
    font-weight: bold;
}

.content{
    padding: 20px;
    background-color: #404040;
    display: flex;
}

.general, .educ, .exp{
    background-color: var(--formColor);
    color: black;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    gap: 12px;
    flex-direction: column;
}

input{
    padding: 8px;
    border-radius: 4px;
    border: 0;
}

input:focus{
    outline: 2px solid var(--head);
}

button{
    padding: 8px;
    border-radius: 4px;
    border: none;
    width: 30%;
    font-weight: bold;
    background-color: rgb(30, 30, 30);
    color: white;
}

button:hover{
    background-color: rgb(10, 10, 10);
}

form{
    display: flex;
    gap: 8px;
    place-content: center;
}

.entry{
    display: flex;
    justify-content: center;
}

.date{
    display: flex;
    gap: 16px;
}

textarea{
    border-radius: 4px;
    padding: 8px;
    border: none;
    outline: none;
}

.output{
    background-color: white;
    width: 100%;
    margin: 10px;
}

.output-wrapper{
    height: 100%;
    box-shadow: 0 5px 15px rgb(0 0 0 / 35%);
}

.head{
    background-color: var(--head);
    padding: 30px;
    color: white;
    height: 10%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.maincontent{
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 90%;
}

.first-column{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.maincontent .title{
    border-bottom: 1px solid #d1d5db;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.second-column{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.first-column .experience .description, .first-column .education .description{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 3fr;
}

.description>div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.second-column{
    background-color: #e5e7eb;
}

.second-column>div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.output img{
    width: 100%;
    
}
